<ng-container [formGroup]="formGroup">
  <button (click)="onAddDepartment()">
    Add department
  </button>
  <input type="text" placeholder="Company name" formControlName="name" />
  <ng-container formArrayName="departments">
    <ng-container *ngFor="let department of departments.controls let index = index">
      <fieldset>
        <legend>Department</legend>

        <button (click)="onRemoveDepartment(index)">
          Remove department
        </button>
        <monorepo-department-form [formControlName]="index"></monorepo-department-form>
      </fieldset>
    </ng-container>
  </ng-container>
</ng-container>