<ng-container [formGroup]="formGroup">
  <button (click)="onAddEmploye()">Add employe</button>
  <input type="text" placeholder="Department name" formControlName="name" />
  <ng-container formArrayName="employers">
    <ng-container *ngFor="let department of employers.controls; let index = index">
      <fieldset>
        <legend>Employe</legend>
        <button (click)="onRemoveEmploye(index)">
          Remove employe
        </button>
        <monorepo-employe-form [formControlName]="index">
        </monorepo-employe-form>
      </fieldset>
    </ng-container>
  </ng-container>
</ng-container>