<div *ngIf="isShowJson">
  {{ formGroup.value | json }}
</div>
<ng-container [formGroup]="formGroup">
  <div>
    <button class="action-button" (click)="onSaveForm()">Show json</button>
  </div>
  <input type="text" placeholder="Owner name" formControlName="name" />
  <div>
    <button class="action-button" (click)="onAddCompany()">Add company</button>
  </div>
  <ng-container formArrayName="companys">
    <ng-container *ngFor="let company of getCompanys(); let index = index">
      <button class="action-button" (click)="onRemoveCompany(index)">
        Remove company
      </button>
      <monorepo-company-form [formControlName]="index"></monorepo-company-form>
    </ng-container>
  </ng-container>
</ng-container>
