<div *ngIf="isShowJson" style="color: whitesmoke; padding: 8px;">
  {{ formGroup.value | json }}
</div>
<ng-container [formGroup]="formGroup">
  <fieldset>
    <legend>Company owner</legend>
    <button (click)="onShowJson()">Show json</button>
    <input type="text" placeholder="Owner name" formControlName="name" />
    <button (click)="onAddCompany()">Add company</button>
  </fieldset>
  <ng-container formArrayName="companys">
    <ng-container *ngFor="let company of companys.controls; let index = index">
      <fieldset>
        <legend>Company</legend>
        <button (click)="onRemoveCompany(index)">
          Remove company
        </button>
        <monorepo-company-form [formControlName]="index"></monorepo-company-form>
      </fieldset>
    </ng-container>
  </ng-container>
</ng-container>