*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(49, 46, 46);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}

body {
  background: #30313b;
  overflow-y: scroll;
}

input {
  display: block;
  border: unset;
  padding: 4px;
  outline: 1px solid gray;
  border-radius: 4px;
  margin: 4px;
  &:focus-visible {
    outline: 2px solid skyblue;
  }
}

fieldset {
  background-color: whitesmoke;
  padding: 16px;
  margin: 16px;
  border: 1px solid gray;
  border-radius: 4px;

  legend {
    color: rgb(49, 46, 46);
    background-color: white;
    outline: 1px solid gray;
    padding: 4px;
  }
}

button {
  cursor: pointer;
  background-color: rgb(34, 93, 116);
  color: white;
  border: unset;
  outline: 1px solid gray;

  padding: 4px;
  margin: 4px;
  &:focus-visible,
  &:hover {
    color: skyblue;
    outline: 2px solid skyblue;
  }
}
