*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  display: block;
  border: unset;
  padding: 4px;
  outline: 1px solid gray;
  border-radius: 4px;
  margin: 4px;
  &:focus-visible {
    outline: 1px solid skyblue;
  }
}

fieldset {
  padding: 16px;
  margin: 16px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}


button {
  padding: 4px;
  margin: 4px;
  &:focus-visible {
    outline: 1px solid skyblue;
  }
}
