*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  display: block;
  border: unset;
  padding: 4px;
  outline: 1px solid gray;
  border-radius: 4px;
  margin: 4px;
  &:focus-visible {
    outline: 1px solid skyblue;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.rounded {
  border-radius: 16px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: col;
}

.action-button {
  padding: 4px;
  margin: 4px;
  &:focus-visible {
    outline: 1px solid skyblue;
  }
}
